@use '../../auxiliar/auxiliar' as aux;

@include aux.resetDocument;

.home {
    display: block;
    padding: 0 180px;
    font-family: aux.$inter;
    color: aux.$azulpadrao;
    i {
        transform: translateY(-1px);
        font-size: 14px;
        margin-right: 3px;
    }
}

main#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: aux.$heebo;
    padding-bottom: 40px;
    h1 {
        text-align: center;
        font-size: 36px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    .form-emprestimo {
        background-color: aux.$azulclarinho;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 35px 20px;
        width: 550px;
        h2 {
            margin-bottom: 15px;
            font-weight: normal;
            font-size: 20px;
        }
        .container-inputs {
            
            display: flex;
            flex-direction: column;
            width: fit-content;
            
            input, select {
                border: 1px solid rgba(3, 2, 37, 0.3);
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                &:focus {
                    outline: none;
                    border: 1.2px solid #0f37c9a9;
                }
            }
            input {
                width: 300px;
                height: 2rem;
                padding: 10px;  
                margin-bottom: 30px;              
            }
            label {
                font-weight: 300;
                font-size: 20px;
                margin-bottom: 5px;
            }
            select {
                width: 180px;
                padding: 5px 5px 5px 10px;  
                margin-bottom: 50px;
            }

            
        }

        p {
            font-weight: 300;
            font-size: 20px;
            width: 550px;
            margin-bottom: 100px;
            text-align: center;
            span#valor-parcelas {
                color: aux.$azulroyal;
                margin-left: 1.3em;
            }
        }

        input[type='submit'] {
            background-color: aux.$azulroyal;
            color: white;
            text-transform: uppercase;
            font-family: aux.$inter;
            font-weight: 400;
            font-size: 12px;
            border: none;
            border-radius: 5px;
            padding: 14px 52px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and(max-width:1265px) {
    .home {
        padding: 0 60px;
    }
}

@media screen and(max-width:660px) {
    #content {
        .form-emprestimo {
            width: 85vw !important;
            p {
                width: 85vw !important;
            }
        }
    } 
   
}
