@use '../auxiliar/auxiliar' as aux;

@include aux.resetDocument;


main {
    margin: 0 auto 50px auto;
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    font-family: aux.$heebo;
    .informacoes {

        width: 600px;
        .saldo {
            display: grid;
            grid-template-columns: 1.9fr 0.1fr;
            grid-template-rows: 2fr;
            grid-template-areas: 
            "h1saldo icon"
            "money money";
            align-items: center;
            grid-row-gap: 15px; 
            width: 200px;
            margin-bottom: 75px;
            
            h1,p {
                font-weight: 300;
            }
            h1 {
                grid-area: "h1saldo";
                font-size: 30px;
            }
            img {
                grid-area: "icon";
                cursor: pointer;
            }
            p {
                grid-area: "money";
                font-size: 26px;
                font-weight: 400;
                color: aux.$azulroyal;
            }
        }
        .extrato {
            padding: 20px 30px 30px 30px;
            background-color: aux.$azulclarinho;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
            h1 {
                text-align: center;
                margin-bottom: 20px;
                font-size: 34px;
                font-weight: 400;
            }
            .transacao {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 110px;
                img {
                    margin-right: 6px;
                }
                .tipo-transacao {
                    display: flex;
                    align-items: center;
                }
                .info-transacao{
                    display: flex;
                    align-items: center;
                    span:last-child {
                        font-size: 13px;
                        font-weight: 500;
                    }
                    .entrada, .saida {
                        font-size: 16px;
                        font-weight: 400;
                        margin-right: 23px;
                    }
                    .entrada {
                        color: green;
                    }
                    .saida {
                        color: red;
                    }
                }
            }
            hr {
                border-top: 2px solid #030225C7;
                opacity: 78%;
            }
        }

    }

    .atalhos {
        width: 400px;
        h1 {
            text-align: center;
            font-size: 34px;
            font-weight: 400;
        }
        .container-cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            .card-atalho {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 200px;
                background-color: aux.$azulclarinho;
                color: #000;
                text-decoration: none;
                margin-top: 30px;
                border-radius: 28px;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                cursor: pointer;
            }
        }
    }
}

@media screen and(max-width:1265px) {
    main {
        padding: 0 60px 0 60px;
    }
}

@media screen and(max-width:980px) {
    main {
        padding: 0 30px 0 30px;
    }
    .atalhos {
        padding-top: 170px;
        width: fit-content !important;
        .card-atalho {
            padding: 5px;
            width: 100px !important;
            height: 100px !important;
            margin-top: 40px !important;
            img {
                width: 60px;
            }
        }
    }
    
}

@media screen and(max-width: 720px) { 
    main {
        flex-direction: column;
    }
    .informacoes {
       width: 90vw !important;
    }
    .atalhos {
        order: 1;
        padding-top: 0;
        margin-top: 50px;
        width: 100% !important;
        .container-cards {
            flex-direction: row !important;
            justify-content: space-between;
            .card-atalho {
                width: 150px !important;
                height: 150px !important;
                img {
                    width: 90px;
                }
             }
        }
    }
}

@media screen and(max-width: 560px) { 
    
    main {
        align-items: center;
    }
    .extrato {
        .transacao {
            .tipo-transacao{
                width: 100px;
            }
            img {
                width: 25px;
            }
        }
    }
    .atalhos {
        width: 90% !important;
        .container-cards {
            width: fit-content;
            flex-wrap: wrap !important;
        }
    }


} 

@media screen and(max-width: 432px) {
    .atalhos {
        width: 100% !important;
        .container-cards {
            padding-left: 25%;
            padding-right: 20%;
        }
    }
    
}

@media screen and(max-width: 360px) { 
    .extrato {
        padding: 20px 10px 30px 10px !important;
        .transacao {
            .info-transacao {
                .entrada, .saida {
                    margin-right: 5px !important;
                }
            }
        }
    }
    .atalhos {
        .container-cards {
            padding-left: 20% !important;
            padding-right: 5% !important;
        }
    }
    
}