@use '../../auxiliar/auxiliar' as aux;

@include aux.resetDocument;

.home {
    display: block;
    padding: 0 180px;
    font-family: aux.$inter;
    color: aux.$azulpadrao;
    i {
        transform: translateY(-1px);
        font-size: 14px;
        margin-right: 3px;
    }
}

.alerta {
    display: none;
    color: red;
    font-size: 13px;
}

.alerta-senha {
    display: none;
    color: #000;
    font-size: 13px;
}

main  {
    padding: 0 180px;
    display: flex;

    // ----- PARTE ESQUERDA (PROGRESSO) ------
    .progress{
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 80px;
        .wrapper-round {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            font-family: aux.$inter;
            font-weight: 200;
            display: none;
            .round {
                position: relative;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: transparent;
                color: #000;
                border: 1px solid aux.$azulmarinho;
                margin-bottom: 7px;
            }
            .step-number {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 255px;
                top:110%;
                right: 50%;
                background-color: #030225;
                opacity: 30%;
            }
            
            &:last-child::after {          
                display: none; 
            }
        }
        .wrapper-round-active  {
            display: flex;
            .round {
                background-color: aux.$azulmarinho;
                color: #FFF;
            }
        }
        
    }

    // ----- PARTE DIREITA (PAGAMENTO EM SI) -----
    .payment-content {
        font-family: aux.$heebo;
        width: 60vw;
        h1 {
            font-size: 36px;
            font-weight: normal;
        }
        hr {
            border: 1px solid aux.$azulclarinho;
        }
    }
    .form {
        
        input {
            padding-left: 10px;
            &:focus {
                outline: none;
                border: 1.2px solid #0f37c9a9;
            }
        }
        // Configurações BOTÕES de cada passo do pagamento
        .step-btn {
            margin-top: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                background-color: aux.$azulroyal;
                color: white;
                text-transform: uppercase;
                font-family: aux.$inter;
                font-weight: 400;
                font-size: 12px;
                border: none;
                border-radius: 5px;
                padding: 14px 52px;
                &:hover {
                    cursor: pointer;
                }
            }
            .finish {
                background-color: aux.$azulpadrao;
            }
        }

        
        // PASSO 1 DO PAGAMENTO - Preenchimento
        .form-step {
            display: none;
            margin-bottom: 85px;
        }
        .form-step-active {
            display: block;
        }
        .container-passo1 {
            padding-top: 60px;
            font-family: aux.$heebo;
            .container-inputs {
                margin-bottom: 40px;
                p {
                    margin-bottom: 1em;
                }
                input {
                    width: 140px;
                    height: 1.3rem;
                    border: 1px solid rgba(3, 2, 37, 0.3);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                }
            }
            p.valor-boleto {
                margin-bottom: 40px;
                span#valor-boleto {
                    color: aux.$azulroyal;
                    margin-left: 1.3em;
                }
            }
            
            .payment-id {
                display: flex;
                input {
                    width: 180px;
                    height: 1.3rem;
                    border: 1px solid rgba(3, 2, 37, 0.3);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                    margin-left: 2em;
                }
            }
        }
        // PASSO 2 DO PAGAMENTO - Confirmação
        .container-passo2 {
            
            display: flex;
            align-items: center;
            justify-content: center;
            table {
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;
                
                tr {
                    td {
                        padding: 10px 15px;
                    }
                }
            }
        }

        // PASSO 3 DO PAGAMENTO - Inserir SENHA
        .container-passo3{
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-bottom: 28px;
                text-align: center;
            }
            .container-input-senha {
                position: relative;
                label {
                    position: absolute;
                    transform: translate(-130%, 4px);
                    color: rgba(0, 0, 0, 0.47);
                }
                input {
                    width: 200px;
                    height: 30px;
                    border: 1px solid rgba(3, 2, 37, 0.3);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                }
            }
        }
        

    }
    
}

.payment-approved {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.39);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-payment {
    font-family: aux.$inter;
    width: 300px;
    height: 45%;
    background-color: aux.$azulclarinho;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    .card-top, .card-bottom  {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .card-top {
        border-radius: 8px 8px 0px 0px;
        background-color: aux.$azulmarinho;
        height: 30%;
        img{ 
            width: 80px;
        }
    }
    .card-bottom {
        border-radius: 0px 0px 8px 8px;
        height: 70%;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        h2 {
            margin-top:75px;
            margin-bottom: 30px;
        }
    }
}



@media screen and(max-width:1265px) {
    .home {
        padding: 0 60px;
    }
    main {
        padding: 0 60px 0 60px;
        .payment-content {
            width: 85vw;
        }
    }
}

@media screen and(max-width:802px) {
    .container-passo1 {
        .payment-id {
            flex-direction: column;
            p {
                margin-bottom: 0.6em;
            }
            input {
                margin-left: 0 !important;
            }
        }
        #span-codigo-barras {
            width: 80%;
        }
    }
}

@media screen and(max-width:685px) {
    .progress {
        margin-right: 15px !important;
    }
}

@media screen and(max-width:618px) { 
    .home {
        padding: 0 30px;
    }
    main {
        padding: 0 30px 0 10px;
    }
    
}

@media screen and(max-width:540px) {
    .home {
        padding: 0 30px;
        margin-bottom: 40px;
    }
    .progress {
        display: none !important;
    }
    main {
        padding: 0 30px 0 30px;
    }
}

@media screen and(max-width:444px) {
    .container-passo3 {
        .container-input-senha {
            label {
                display: none;
            }
        }
    }
}

@media screen and(max-width:384px) {
    .input-barras {
        width: 95% !important;
        margin-bottom: 5px;
    }
    #span-codigo-barras {
        width: 100% !important;

    }
}