@use '../../auxiliar/auxiliar' as aux;

@include aux.resetDocument;

.home {
    display: block;
    padding: 0 180px;
    font-family: aux.$inter;
    color: aux.$azulpadrao;
    i {
        transform: translateY(-1px);
        font-size: 14px;
        margin-right: 3px;
    }
}

.alerta {
    display: none;
    color: red;
    font-size: 13px;
}

main  {
    padding: 0 180px;
    display: flex;

    // ----- PARTE ESQUERDA (PROGRESSO) ------
    .progress{
        
        padding: 20px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-right: 80px;
        .wrapper-round {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            font-family: aux.$inter;
            font-weight: 200;
            .round {
                position: relative;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: transparent;
                color: #000;
                border: 1px solid aux.$azulmarinho;
                margin-bottom: 7px;
            }
            .round-active {
                background-color: aux.$azulmarinho;
                color: #FFF;
            }
            .step-number {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 255px;
                top:110%;
                right: 50%;
                background-color: #030225;
                opacity: 30%;
            }
            
            &:last-child::after {          
                display: none; 
            }
        }
        
    }

    // ----- PARTE DIREITA (PAGAMENTO EM SI) -----
    .payment-content {
        font-family: aux.$heebo;
        width: 60vw;
        h1 {
            font-size: 36px;
            font-weight: normal;
        }
        hr {
            border: 1px solid aux.$azulclarinho;
        }
    }
    .form {
        
        input {
            padding-left: 10px;
            &:focus {
                outline: none;
                border: 1.2px solid #0f37c9a9;
            }
        }
        // Configurações BOTÕES de cada passo do pagamento
        .step-btn {
            margin-top: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                background-color: aux.$azulroyal;
                color: white;
                text-transform: uppercase;
                font-family: aux.$inter;
                font-weight: 400;
                font-size: 12px;
                border: none;
                border-radius: 5px;
                padding: 14px 52px;
                &:hover {
                    cursor: pointer;
                }
            }
            .finish {
                background-color: aux.$azulpadrao;
            }
        }
        // PASSO 1 DO PAGAMENTO - Preenchimento
        .form-step {
            margin-bottom: 85px;
        }
        .container-passo1 {
            padding-top: 60px;
            font-family: aux.$heebo;
            .container-inputs {
                margin-bottom: 40px;
                p {
                    margin-bottom: 1em;
                }
                input {
                    width: 140px;
                    height: 1.3rem;
                    border: 1px solid rgba(3, 2, 37, 0.3);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                }
            }
            p.valor-boleto {
                margin-bottom: 40px;
                span#valor-boleto {
                    color: aux.$azulroyal;
                    margin-left: 1.3em;
                }
            }
            
            .payment-id {
                display: flex;
                input {
                    width: 180px;
                    height: 1.3rem;
                    border: 1px solid rgba(3, 2, 37, 0.3);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                    margin-left: 2em;
                }
            }
        }
        // PASSO 2 DO PAGAMENTO - Confirmação
        .container-passo2 {
            
            display: flex;
            align-items: center;
            justify-content: center;
            table {
                border-spacing: 0;
                border-collapse: collapse;
                width: 100%;
                
                tr {

                    td {
                        padding: 10px 15px;
                    }
                }
            }
        }

        // PASSO 3 DO PAGAMENTO - Inserir SENHA
        .container-passo3{
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                margin-bottom: 28px;
            }
            .container-input-senha {
                position: relative;
                label {
                    position: absolute;
                    transform: translate(-130%, 4px);
                    
                    color: rgba(0, 0, 0, 0.47);
                }
                input {
                    width: 200px;
                    height: 30px;
                    border: 1px solid rgba(3, 2, 37, 0.3);
                    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                }
            }
        }
        

    }
    
}





