@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
/* ----- FONTES -----*/
/* ----- CORES -----*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none !important;
}

.home {
  display: block;
  padding: 0 180px;
  font-family: "Inter", sans-serif;
  color: #0F38C9;
}
.home i {
  transform: translateY(-1px);
  font-size: 14px;
  margin-right: 3px;
}

.alerta {
  display: none;
  color: red;
  font-size: 13px;
}

.alerta-senha {
  display: none;
  color: #000;
  font-size: 13px;
}

main {
  padding: 0 180px;
  display: flex;
}
main .progress {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 80px;
}
main .progress .wrapper-round {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  display: none;
}
main .progress .wrapper-round .round {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  border: 1px solid #030225;
  margin-bottom: 7px;
}
main .progress .wrapper-round .step-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .progress .wrapper-round::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 255px;
  top: 110%;
  right: 50%;
  background-color: #030225;
  opacity: 30%;
}
main .progress .wrapper-round:last-child::after {
  display: none;
}
main .progress .wrapper-round-active {
  display: flex;
}
main .progress .wrapper-round-active .round {
  background-color: #030225;
  color: #FFF;
}
main .payment-content {
  font-family: "Heebo", sans-serif;
  width: 60vw;
}
main .payment-content h1 {
  font-size: 36px;
  font-weight: normal;
}
main .payment-content hr {
  border: 1px solid #EEF2FF;
}
main .form input {
  padding-left: 10px;
}
main .form input:focus {
  outline: none;
  border: 1.2px solid rgba(15, 55, 201, 0.662745098);
}
main .form .step-btn {
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .form .step-btn button {
  background-color: #051960;
  color: white;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 14px 52px;
}
main .form .step-btn button:hover {
  cursor: pointer;
}
main .form .step-btn .finish {
  background-color: #0F38C9;
}
main .form .form-step {
  display: none;
  margin-bottom: 85px;
}
main .form .form-step-active {
  display: block;
}
main .form .container-passo1 {
  padding-top: 60px;
  font-family: "Heebo", sans-serif;
}
main .form .container-passo1 .container-inputs {
  margin-bottom: 40px;
}
main .form .container-passo1 .container-inputs p {
  margin-bottom: 1em;
}
main .form .container-passo1 .container-inputs input {
  width: 140px;
  height: 1.3rem;
  border: 1px solid rgba(3, 2, 37, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}
main .form .container-passo1 p.valor-boleto {
  margin-bottom: 40px;
}
main .form .container-passo1 p.valor-boleto span#valor-boleto {
  color: #051960;
  margin-left: 1.3em;
}
main .form .container-passo1 .payment-id {
  display: flex;
}
main .form .container-passo1 .payment-id input {
  width: 180px;
  height: 1.3rem;
  border: 1px solid rgba(3, 2, 37, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
  margin-left: 2em;
}
main .form .container-passo2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .form .container-passo2 table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
main .form .container-passo2 table tr td {
  padding: 10px 15px;
}
main .form .container-passo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .form .container-passo3 p {
  margin-bottom: 28px;
  text-align: center;
}
main .form .container-passo3 .container-input-senha {
  position: relative;
}
main .form .container-passo3 .container-input-senha label {
  position: absolute;
  transform: translate(-130%, 4px);
  color: rgba(0, 0, 0, 0.47);
}
main .form .container-passo3 .container-input-senha input {
  width: 200px;
  height: 30px;
  border: 1px solid rgba(3, 2, 37, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
}

.payment-approved {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.39);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-payment {
  font-family: "Inter", sans-serif;
  width: 300px;
  height: 45%;
  background-color: #EEF2FF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}
.card-payment .card-top, .card-payment .card-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-payment .card-top {
  border-radius: 8px 8px 0px 0px;
  background-color: #030225;
  height: 30%;
}
.card-payment .card-top img {
  width: 80px;
}
.card-payment .card-bottom {
  border-radius: 0px 0px 8px 8px;
  height: 70%;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
.card-payment .card-bottom h2 {
  margin-top: 75px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1265px) {
  .home {
    padding: 0 60px;
  }
  main {
    padding: 0 60px 0 60px;
  }
  main .payment-content {
    width: 85vw;
  }
}
@media screen and (max-width: 802px) {
  .container-passo1 .payment-id {
    flex-direction: column;
  }
  .container-passo1 .payment-id p {
    margin-bottom: 0.6em;
  }
  .container-passo1 .payment-id input {
    margin-left: 0 !important;
  }
  .container-passo1 #span-codigo-barras {
    width: 80%;
  }
}
@media screen and (max-width: 685px) {
  .progress {
    margin-right: 15px !important;
  }
}
@media screen and (max-width: 618px) {
  .home {
    padding: 0 30px;
  }
  main {
    padding: 0 30px 0 10px;
  }
}
@media screen and (max-width: 540px) {
  .home {
    padding: 0 30px;
    margin-bottom: 40px;
  }
  .progress {
    display: none !important;
  }
  main {
    padding: 0 30px 0 30px;
  }
}
@media screen and (max-width: 444px) {
  .container-passo3 .container-input-senha label {
    display: none;
  }
}
@media screen and (max-width: 384px) {
  .input-barras {
    width: 95% !important;
    margin-bottom: 5px;
  }
  #span-codigo-barras {
    width: 100% !important;
  }
}/*# sourceMappingURL=payment.css.map */