@use 'auxiliar/auxiliar' as aux;

@include aux.resetDocument;

body, .login-left, .login-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;

    .login-left {
        width: 50vw;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #0302258a;
        height: 505px;
        .logo-login {
            width: 276px;
            height: 93px;
            background-image: url('/img/logo-login.png');
        }
    }

    .login-right {
        width: 50vw;
        flex-direction: column;
        h1, h2 {
            font-family: aux.$heebo;
            font-weight: 400;
        }
        h1 {
            font-size: 40px;
            margin-bottom: 30px;
        } 
        h2 {
            font-size: 36px;
            color: #4B4B4B;
            margin-bottom: 50px;
        }
        .content{
            
            .tab-options {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 45px;
                .tab-option {
                    width: calc(30vw / 2);
                    text-align: center;
                    padding: 3px;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.412);
                }
                .selected {
                    border-bottom: 1px solid aux.$azulmarinho;
                    color: aux.$azulpadrao;
                }
                span {
                    font-family: aux.$heebo;
                    font-size: 20px;
                    
                }
            }
            form.container-inputs {
                //background-color: rgba(0, 0, 252, 0.349);
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 40px;
                    width: 30vw;
                    input{
                        width: 99%;
                        height: 40px;
                        padding-left: 10px;
                        border: 1px solid rgba(3, 2, 37, 0.3);
                        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.18);
                        font-size: 16px;
                        &:focus {
                            outline: none;
                            border: 1.2px solid #0f37c9a9;
                        }
                    }
                    input[type='submit'] {
                        cursor: pointer;
                        width: 17vw;
                        padding: 0;
                        border: none;
                        border-radius: 5px;
                        background-color: aux.$azulpadrao;
                        color: white;
                        font-family: aux.$heebo;
                        font-size: 1.2em;
                        font-weight: 300;
                    }
                }
            }
        }
    }

}

// ----- RESPONSIVIDADE -----
@media screen and (min-width:1200px){
    .login-right {
        //background-color: red;
        .tab-option {
            width: calc(350px / 2) !important;
        }
        form.container-inputs {
            //background-color: yellow;
            p {
                width: 360px !important;
            }
        }
    }
}

@media screen and (max-width:950px){
    .content {
        width: 50vw;
    }
    .login-left {
        //background-color: red;
        width: 30vw !important;
    }
    .login-right {
        width: 60vw !important;
        .tab-option {
            span {
                font-family: aux.$heebo;
                font-size: 16px !important;
                
            }
        }
    }
    
}

@media screen and (max-width:762px){
    body {
        flex-direction: column;
        .login-left {
            height: 20vh !important;
            width: 70vw !important;
            border-right: none;
            border-bottom: 1px solid #0302258a;
            margin-bottom: 50px;
            .logo-login {
                width: 182px;
                height: 68px;
                background-image: url('/img/logo-login-menor.png');
            }
        }
        .login-right {
            padding: 0 !important;
            height: 80vh !important;
            width: 80vw !important;
            h1, h2 {
                margin-bottom: 20px;
            }
            .content {
                width: 100%;
                height: 100%
            }
            .tab-option {
                width: calc(350px / 2) !important;
            }
            form.container-inputs {
                //background-color: yellow;
                p {
                    width: 360px !important;
                }
                input[type='submit'] { 
                    width: 200px !important;
                }
            }
        }
    }
}